.btn {
    
    color: #7E88C3;
    text-align: center;
    
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
    padding-inline: 115px;
    width: 100%;
    transition: background-color 0.25s ease-in 0.15s

}

.btn:global(.light) {
    background-color: #F9FAFE;
}
.btn:global(.dark) {
    background-color: #252945;

}

.btn:hover {
    background-color: #DFE3FA;
}

.btn svg {
    scale: 0.88;
}

.btn span {
    padding-top: 1px;
}

@media only screen and (max-width: 55em) {
    .btn {
        padding-inline: 0;
    }
}