.btn {
    background-color: #F9FAFE;
    color: #7E88C3;
    text-align: center;
    
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
    padding-inline: 115px;
    width: 100%;

}

.btn:hover {
    background-color: #DFE3FA;
}

.btn svg {
    scale: 0.88;
}

.btn span {
    padding-top: 1px;
}