.btn {
    color: white;
    background-color: #7C5DFA;
    border-radius: 24px;

    justify-content: center;
    align-items: center;
    padding-inline: 8.5px 17px;
    padding-block: 8px 8px;
    gap: 1rem;
    max-height: 3rem;
}



.btn:hover {
    background-color: #9277FF;
}

.plus {
    width: 2rem;
    height: 2rem;
}

.btn span {
    margin-top: 1px;
}

@media only screen and (max-width: 35em) {
    .btn {
        gap: 0.5rem;
        max-width: 105px;
        padding: 8px;
    }

}