.auth {
  margin: 3rem auto;
  width: 95%;
  max-width: 25rem;
  border-radius: 6px;
  padding: 1rem;
  text-align: center;
}

.auth h1 {
  text-align: center;
  margin-bottom: 1.5rem;
}

.auth:global(.light) h1 {
  color: #0C0E16;
}

.auth:global(.dark) h1 {
  color: #FFF;
}

.control {
  margin-bottom: 1.5rem;
}

.control:global(.light) label {
  display: block;
  color: #0C0E16;
  font-weight: bold;
  margin-bottom: 0.8rem;
}

.control:global(.dark) label {
  display: block;
  color: #FFF;
  font-weight: bold;
  margin-bottom: 0.8rem;
}

.control input {
  font: inherit;
  border-radius: 4px;
  border: 1px solid hsla(var(--clr-whitegreypurple), 0.5);
  outline: transparent;
 

  border-radius: 4px;
  width: 100%;
  text-align: left;
  padding: 0.5rem;
}

.control:global(.light) input {
  background-color: #FFF;
  color: #38015c;
}

.control:global(.dark) input {
  background-color: #1E2139;
  color: #FFF;
}

.control input:hover,
.control input:focus,
.control input:focus-visible {
  border: 1px solid hsl(var(--clr-purple-hover));
  outline-color: transparent;
  cursor: text;
}

.actions {
  margin-top: 2.0rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.actions button {
  cursor: pointer;
  font: inherit;
  color: white;
  background-color: #7C5DFA;
  border: 1px solid #7C5DFA;
  border-radius: 4px;
  padding: 0.5rem 2.5rem;
  margin-bottom: 0.5rem;
}

.actions button:hover {
  background-color: #873abb;
  border-color: #873abb;
}

.actions .toggle {
  margin-top: 1rem;
  background-color: transparent;
  color: #7C5DFA;
  border: none;
  padding: 0.15rem 1.5rem;
}

.actions .toggle:hover {
  background-color: transparent;
  color: #873abb;
}