.title {
  color: hsl(var(--clr-purple-btn));
  margin-top: 3rem;
  margin-bottom: 1.5rem;
}

.hash {
  color: var(--06, #888EB0);
  font-family: League Spartan;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 32px;
  letter-spacing: -0.5px;
}

.form {
  
  padding-inline: 6rem 3.5rem;
  border-radius: 0px 20px 20px 0px;
  position: absolute;
  top: 0;
  left: -60vw;
  overflow-y: scroll;
  max-height: 100vh;
  transition: left 0.8s ease;
  z-index: 10000;
  max-width: 60.5vw;

}

.form.show {
  left: 80px;
}

.form:global(.light) {
  background-color: #FFF;
  
}

.form:global(.dark) {
  background-color: #141625;
 
}

.form::-webkit-scrollbar-track {
  /* -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); */
  border-radius: 10px;
  background-color: transparent;
  transform: translateX(-100px);
}

.form::-webkit-scrollbar {
  width: 9px;
  background-color: transparent;
  transform: translateX(-100px);
}

.form::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: hsla(231, 20%, 61%, 0.5);
  transform: translateX(-100px);
}

.form::-webkit-scrollbar-thumb:hover {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #555;
  cursor: pointer;
}

.noArrow::-webkit-inner-spin-button,
.noArrow::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.header {
  margin-top: 59px;
  transition: color 0.5s ease-in;
}
.header:global(.light) {
  color: #0C0E16
}
.header:global(.dark) {
  color: #FFF
}

.section {
  display: flex;
  flex-direction: column;
  gap: 25px;
}
.parent {
  display: flex;
  gap: 1.5rem;
  width: 100%;
  flex-wrap: wrap;
  justify-content: space-between;
}
.parent.pickers {
  /* display: grid;
  width: 100%;
  grid-template-columns: repeat(2, minmax(0, 700px)); */
}

.child {
  display: flex;
  flex-direction: column;
  gap: 9px;
  flex: 1;
  position: relative;
}

.child.small {
  width: 31.5%;
}

.child input[type="date"] {
  width: 100%;
}

.itemList {
  display: grid;
  grid-template-columns: minmax(200px, 5fr) minmax(40px, 1fr) minmax(100px, 2fr) minmax(
      40px,
      2fr
    ) minmax(12px, 18px);
  /* grid-template-columns: 3fr 1fr 1fr 1fr minmax(12px, 18px); */

  column-gap: 1rem;
  row-gap: 1rem;

  grid-auto-rows: minmax(30px, auto);
  margin-bottom: 18px;
  max-width: 100%;
  align-items: center;

  /* min-width: 100%; */
}

.itemList label {
  margin-bottom: 15px;
}

.itemListInput {
  width: 100%;
  /* max-width: max-content; */
}

.total {
  color: #888eb0;
  font-size: 15px;
  font-style: normal;
  font-weight: 700;
  line-height: 15px; /* 100% */
  letter-spacing: -0.25px;
}

.center {
    justify-self: center;
   
}

.btnContainer {
  display: flex;
  justify-content: right;
  margin-top: 2.5rem;
  margin-bottom: 2rem;
}

.btnChild {
  display: flex;
  gap: 8px;
}

.fullWidth.fullWidth2 {
  width: 100%;
  max-width: 100%;
}

.number.noPadding {
  padding-block: 1rem;
  min-width: 50px;
}

.errorInput.show {
  border-color: #EC5757;
  outline: #EC5757;
}

.error {
  position: absolute;
  top: 0;
  right: 0;
  color: #EC5757;
  font-size: 11px;
  font-style: normal;
  font-weight: 600;
  line-height: 15px;
  letter-spacing: -0.208px;
}
.errorPickers,
.errorPickers div {
  position: relative;
}
.errorPickers.show > div:nth-child(1)::after {
  content: "can't be blank";
  position: absolute;
  top: 0;
  right: 0;
  color: #EC5757;
  font-size: 11px;
  font-style: normal;
  font-weight: 600;
  line-height: 15px;
  letter-spacing: -0.208px;
}

.errorPickers.show div input {
  border-color: #EC5757;
  outline: #EC5757;
}

.errorPickers.show div:nth-child(1) label {
  color: #EC5757;
}

.errorLabel:global(.light).show,
.errorLabel:global(.dark).show {
  color: #EC5757;
}

.itemNameError.show:global(.dark),
.itemNameError.show:global(.light),
.itemQuantityError.show:global(.dark),
.itemQuantityError.show:global(.light),
.itemPriceError.show:global(.dark),
.itemPriceError.show:global(.light) {
  border-color: #EC5757;
  outline: #EC5757;
}



/* Tablet */

@media only screen and (min-width: 64.01em) and (max-width: 80em) {
  .form {
      left: -75vw;
     
  }
}

@media only screen and (min-width: 35.01em) and (max-width: 64em) {
  .form {
      left:  -150vw;
      top: 80px;
  }

  .form.show {
      left: 0;
      top: 80px;
      padding-inline: 2rem;;
  }
}

/* Mobile */

@media only screen and (max-width: 35em) {
  .form {
      left: -101vw;
      top: 80px;
      max-width: 100%;
      padding-inline: 2rem;
  }

  .form.show {
      left: 0;
      top: 80px;
      padding-inline: 2rem;
      width: 100%;
  }

  .parent {
      flex-wrap: wrap;
  }

  .parent > div:nth-child(3) {
      width: 100%;
  }

  .parent > div:nth-child(3) input {
      width: 100%;
      max-width: 87.5%;
  }
}