.title {
    color: hsl(var(--clr-purple-btn));
    margin-top: 3rem;
    margin-bottom: 1.5rem;
}

.form {
    background-color: #FFF;
    padding-inline: 6rem 3.5rem;
    border-radius: 0px 20px 20px 0px;
    position: absolute;
    top: 0;
    left: -60vw;
    overflow-y: scroll;
    max-height: 100vh;
    transition: left 0.8s ease;
}

.form.show {
    left: 80px;
}

.form::-webkit-scrollbar-track
{
	/* -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); */
	border-radius: 10px;
	background-color: transparent;
    transform: translateX(-100px);
}

.form::-webkit-scrollbar
{
	width: 9px;
	background-color: transparent;
    transform: translateX(-100px);
}

.form::-webkit-scrollbar-thumb
{
	border-radius: 10px;
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
	background-color: hsla(231, 20%, 61%, 0.5);
    transform: translateX(-100px);
    
}

.form::-webkit-scrollbar-thumb:hover
{
	border-radius: 10px;
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
	background-color: #555;
    cursor:pointer;
  
}

.noArrow::-webkit-inner-spin-button,
.noArrow::-webkit-outer-spin-button
 {
    -webkit-appearance: none;
    margin: 0;
}
.header {
    margin-top: 59px;
}

.section {
    display: flex;
    flex-direction: column;
    gap: 25px;
}
.parent {
    display: flex;
    gap: 1.5rem;
}

.child {
    display: flex;
    flex-direction: column;
    gap: 9px;
}

.itemList {
    display: grid;
    grid-template-columns: 0.42fr 0.091fr 0.2fr minmax(40px, 0.2fr);
    column-gap: 1rem;
    row-gap: 1.0rem;

    grid-auto-rows: minmax(30px, auto);
    margin-bottom: 18px;
    min-width: 100%;
 
}

.itemList label{
    margin-bottom: 15px;
}

.itemListInput {
    width: 100%;
    max-width: fit-content;
}

.btnContainer {
    display:flex;
    justify-content: space-between;
    margin-top: 2.5rem;
    margin-bottom: 2rem;
}

.btnChild {
    display: flex;
    gap: 8px;
}