.form {
  width: 95%;
  max-width: 25rem;
  margin: 2rem auto;
}

.control {
  margin-bottom: 1.5rem;
}

.control:global(.light) label {
  display: block;
  color: #0C0E16;
  font-weight: bold;
  margin-bottom: 0.8rem;
}

.control:global(.dark) label {
  display: block;
  color: #FFF;
  font-weight: bold;
  margin-bottom: 0.8rem;
}

.control input {
  font: inherit;
  border-radius: 4px;
  border: 1px solid hsla(var(--clr-whitegreypurple), 0.5);
  outline: transparent;
  border-radius: 4px;
  width: 100%;
  text-align: left;
  padding: 0.5rem;
}

.control:global(.light) input {
  background-color: #FFF;
  color: #38015c;
}

.control:global(.dark) input {
  background-color: #1E2139;
  color: #FFF;
}

.control input:hover,
.control input:focus,
.control input:focus-visible {
  border: 1px solid hsl(var(--clr-purple-hover));
  outline-color: transparent;
  cursor: text;
}

.action {
  margin-top: 2.0rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.action button {
  cursor: pointer;
  font: inherit;
  color: white;
  background-color: #7C5DFA;
  border: 1px solid #7C5DFA;
  border-radius: 4px;
  padding: 0.5rem 2.5rem;
  margin-bottom: 0.5rem;
}

.action button:hover {
  background-color: #873abb;
  border-color: #873abb;
}