.header {
  border-radius: 8px;
  background: #fff;
  box-shadow: 0px 10px 10px -10px rgba(72, 84, 159, 0.1);

  display: flex;
  gap: 198px;
  justify-content: space-between;
  padding-inline: 2rem;
  padding-block: 1.5rem;
  width: 100%;
  max-height: 5.5rem;
  align-items: center;
  margin-bottom: 1.5rem;
}

.statusContainer {
  display: flex;
  gap: 20px;
  align-items: center;
}
.black {
  color: #0c0e16;
}

.grey {
  color: #858bb2;
}

.btnContainer {
  display: flex;
  gap: 0.5rem;
}

.detailsParent {
  border-radius: 8px;
  background: #fff;
  box-shadow: 0px 10px 10px -10px rgba(72, 84, 159, 0.1);
  padding: 3rem;
}

.detailsTitle {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1.5rem;
}

.titleId {
  display: flex;
  flex-direction: column;
  gap: 7px;
  align-items: flex-start;
}

.titleAddress {
  display: flex;
  flex-direction: column;
  text-align: right;
}

.detailsContent {
  display: flex;
  /* gap: 8.125vw; */
  margin-bottom: 2.8rem;
}

.content1 {
  display: flex;
  flex-direction: column;
  gap: 30px;
  flex: 1;
}

.content1Child {
  display: flex;
  flex-direction: column;
  text-align: left;
  gap: 10px;
}

.content2 {
  display: flex;
  flex-direction: column;
  gap: 10px;
  flex: 1;
}

.content2 > div {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.content3 {
  display: flex;
  flex-direction: column;
  gap: 10px;
  flex: 1.1;
}

.detailsCharges {
  border-radius: 8px 8px 0px 0px;
  background: #f9fafe;
  width: 100%;
}

.chargesTop {
  display: grid;
  /* grid-template-areas: 
    'itemName' 'qty' 'price' 'total'
    ; */
  grid-template-columns: 5.3fr 1fr 2fr 2fr;
  grid-auto-rows: auto;
  padding: 2rem;
  row-gap: 2rem;
  justify-items: right;
}

.column1 {
  justify-self: left;
}

.column2 {
  justify-self: center;
}

.chargesBottom {
  border-radius: 0px 0px 8px 8px;
  background: #373b53;
  padding: 2rem;
  color: #fff;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.totalAmt {
  color: #fff;
  text-align: right;
  font-family: League Spartan;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 32px; 
  letter-spacing: -0.5px;
}
