.main {
    display: flex;
    padding-inline: 18px;
    padding-block: 14px 11px;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    border-radius: 6px;
    max-width: 114px;
    

}

.paid.main {
    background-color: hsla(160, 67%, 52%, 0.0570882);
    color: hsla(160, 67%, 52%, 1);
    padding-inline: 30px;
}

.pending.main {
    background: hsla(34, 100%, 50%, 0.0570882);
    color: hsla(34, 100%, 50%, 1);
    padding-inline: 18px;
}

.draft.main {
    background-color: hsla(231, 20%, 27%, 0.0570882);
    color: hsla(231, 20%, 27%, 1);
    padding-inline: 27px;
}

.main.draft:global(.dark) {
    background-color:hsla(231, 73%, 93%, 0.0571);
    color: hsla(231, 20%, 27%, 1);
    padding-inline: 27px;
}


.circle {
    width: 8px;
    height: 8px;
    border-radius: 4px;
}

.circle.paid {
    background-color: hsla(160, 67%, 52%, 1);
}

.circle.pending {
    background: hsla(34, 100%, 50%, 1);
}

.circle.draft {
    background-color: hsla(231, 20%, 27%, 1);
}

.circle.draft:global(.dark) {
    background-color:hsla(231, 73%, 93%,1);
}


.status {
    opacity: 1.0;
    font-weight: 700;
}

.main.draft:global(.dark) .status{
    color:#DFE3FA;
}

.main.draft:global(.dark) .circle {
    background-color:hsla(231, 73%, 93%, 1);
}