.main {
  display: grid;
  grid-template-rows: 1fr;
  /* grid-template-columns: minmax(59px,0.15677fr) minmax(92px, 0.22983fr) minmax(75px,0.2285388fr) minmax(70px,0.1689056fr) minmax(106px,0.158295fr) 18px; */
  grid-template-columns: 0.8fr 0.8fr 1fr 1fr 0.8fr;
  width: 100%;

  align-items: center;
  justify-content: space-between;
  
  cursor: pointer;
  column-gap: 10px;

  
  padding-inline: 2rem;
  padding-block: 1.05rem;
  border-radius: 8px;

  box-shadow: 0px 10px 10px -10px rgba(72, 84, 159, 0.1);
}

.main:global(.light) {
  background: #fff;
}

.main:global(.dark) {
  background: #1E2139;
}

/* mobile */
@media only screen and (max-width: 35em) {
  .main {
    grid-template-areas: 
    'title name'
    'date status'
    'price status'
    ;
    grid-template-rows: 26px 20px 20px;
    grid-template-columns: 1fr 1fr;
    row-gap: 9px;

    padding-inline: 1.5rem;
    padding-block: 25px 22px;
    align-items:start;
  }

  .title {
    grid-area: title;
  }

  .name {
    grid-area: name;
    justify-self: right;
  }
  
  .date {
    grid-area: date;
    align-self: center;
    padding-right: none;
  }

  h1.price {
    grid-area: price;
    justify-self: left;
  }

  .container {
    grid-area: status;
    align-self: center;
  }

  .arrow {
    display: none;
  }
}
.title:global(.light) {
  color: #0C0E16
}
.title:global(.dark){
  color: #FFF;
}

.gap {
    display: flex;
    gap:10px;
    width: 2.5rem;
}

.arrow {
    cursor: pointer;
  
}

.symbol {
  color: #7e88c3;

}
.date:global(.light),
.name:global(.light) {
  color: #7e88c3;
}

.date:global(.dark),
.name:global(.dark) {
  color: #DFE3FA;
}

.date {
    padding-right: 1.5rem;
}
.container {
    display: flex;
    align-items: center;
    gap: 1.25rem;
    justify-self: end;
}

.price{ 
  justify-self: center;
}
.price:global(.light) {
  color: #0C0E16;
}
.price:global(.dark) {
  color: #FFF;
}
