.main {
    border-radius: 4px;
    min-width: 240px;
    width: 100%;
    height: 48px;
    display: flex;
    padding-inline: 20px 16px;
}

.main:global(.light) {
    color: hsl(var(--clr-black));
    border: 1px solid hsl(var(--clr-whitegreypurple));
    background: #FFF;
    cursor: pointer;
}

.main:hover:global(.light),
.main:hover:global(.dark) {
    border-color: #7C5DFA;
}

.child {
    display: flex;
    flex-direction: column;
    gap: 9px;
}