.parent {
    height: fit-content;
    position: relative;
}
.main {
  gap: 14px;
  align-items: center;
  max-width: fit-content;
  cursor: pointer;
  padding-inline: 2.25rem;
  justify-content: center;
  position: relative;
}

.text {
  color: #0c0e16;
}

.arrow {
  transform: rotateX(180deg);

  animation: rotate 0.3s linear 0s;
}

@keyframes rotate {
  0% {
    transform: rotateX(0deg);
  }

  100% {
    transform: rotateX(180deg);
  }
}

.arrowDefault {
  transform: rotateX(360deg);
  animation: rotateBack 0.3s cubic-bezier(0.075, 0.82, 0.165, 1) 0s;
}

@keyframes rotateBack {
  0% {
    transform: rotateX(180deg);
  }

  50% {
    transform: rotateX(270deg);
  }

  100% {
    transform: rotateX(360deg);
  }
}

@media only screen and (max-width: 35em) {
  .main {
    gap: 8px;
    align-items: center;
    max-width: fit-content;
    cursor: pointer;
    padding-inline: 0.1rem;
    justify-content: center;
    position: relative;
  }

  .text {
    width: min-content;
  }
}

/* dropdown */
.dropdownParent {
    position: relative;
    /* margin-top: 20px; */
    
}
.dropdown {
  display: flex;
  flex-direction: column;

  border-radius: 8px;
  background: #fff;
  box-shadow: 0px 10px 20px 0px rgba(72, 84, 159, 0.25);
  max-width: fit-content;
  padding: 1.5rem 5.5rem 1.5rem 1.5rem;
  gap: 0.5rem;

  
  animation: show 0.5s cubic-bezier(0.075, 0.82, 0.165, 1);
  position: absolute;
  top: 20px;
  
}

@keyframes show {
    0% {
       scale: 0.01;
       top: -100px;
    }

    100% {
      scale: 1.0;
      transform: translateY(0%);
      top: 20;
    }
}

.input {
  display: flex;
  gap: 8px;
  align-items: center;
  position: relative;
}

.input label {
  color: #0c0e16;
  margin-top: 3px;
}

.dropdownClose {
    scale: 0;
    flex-direction: column;
  
    border-radius: 8px;
    background: #fff;
    box-shadow: 0px 10px 20px 0px rgba(72, 84, 159, 0.25);
    max-width: fit-content;
    padding: 1.5rem 5.5rem 1.5rem 1.5rem;
    gap: 0.5rem;
  
    
    animation: close 0.2s cubic-bezier(0.455, 0.03, 0.515, 1.0);
    position: absolute;
    top: 20px;
    
  }

  @keyframes close {
    0% {
        scale: 1.0;
      transform: translateY(0%);
      top: 20;

    }

    100% {
     
      scale: 0.01;
       top: -70px;
       display: none;
    }
}