.paymentTerms {
    min-width: 240px;
    width: 100%;
    height: 48px;
    flex-shrink: 0;
    border-radius: 4px;
    padding-inline: 1.25rem;
    font-family: var(--ff-spartan);
}

.paymentTerms:global(.light){
    border: 1px solid hsl(var(--clr-whitegreypurple));
    background-color: #FFF;
    cursor: pointer;
}

.paymentTerms:hover:global(.light){
    border: 1px solid #7C5DFA;
    background-color: #FFF;
}

.paymentTerms:global(.dark){
    cursor: pointer;
    color: #FFF;

    border-radius: 4px;
    border: 1px solid var(--04, #252945);
    background: var(--03, #1E2139);
}

.paymentTerms:hover:global(.dark){
    border: 1px solid #7C5DFA;
    background-color: #1E2139;
}

.child {
    display: flex;
    flex-direction: column;
    gap: 9px;
}
@media only screen and (min-width: 74em) {
    .child {
       width: 48.5%;
    }
}

@media only screen and (min-width: 45em) and (max-width: 74em) {
    .child {
        width: 48.5%;
    }
}