*,
*::after,
*::before {
    box-sizing: border-box;
  
}

html {
    scroll-behavior: smooth;
}


h1,
h2,
h3,
h4,
h5,
p,
ul,
figure,
picture,
body {
    margin: 0; 
    padding: 0;
    
}

a {
    color: inherit;
    text-decoration: inherit;
}

li {
    list-style: none;
}
:root {
/* Colors */

--clr-purple-btn: 252, 94%, 67%;
--clr-purple-hover: 252, 100%, 73%;
--clr-delete-btn: 0, 80%, 63%;
--clr-delete-hover:0, 100%, 80%;

--clr-darkpurplegrey: 233, 31%, 17%;
--clr-lightpurplegray: 233, 30%, 21%;

--clr-whitepurple: 231, 73%, 93%;
--clr-whitegreypurple: 231, 20%, 61%;
--clr-lightwhitepurple: 231, 37%, 63%;
--clr-black: 228, 29%, 7%;

--clr--lightbg: 240, 27%, 98%;
--clr-darkbg: 233, 30%, 11%;

--ff-spartan: 'League Spartan', sans-serif;
}


/* Utility Classes */

.flex {
    display: flex;
}

.uppercase {
    text-transform: uppercase;
}

.ff-sanserif {
    font-family: var(--ff-spartan);
}

.fs-L {
  font-weight: 700;
  font-size: 2.25rem;
  line-height: normal;
  letter-spacing: -1.125px;
}

.fs-M {
  font-weight: 700;
  font-size: 1.5rem;
  line-height: normal;
  letter-spacing: -0.75px;
}

.fs-S {
  font-size: 0.9375rem;
  font-style: normal;
  font-weight: 700;
  line-height: 1.5rem;
  letter-spacing: -0.25px;
}
.fs-S2 {
  font-size: 0.9375rem;
  font-style: normal;
  font-weight: 700;
  line-height:0.9375rem;
  letter-spacing: -0.25px;
}

.fs-body {
  font-size: 0.8125rem;
  font-style: normal;
  font-weight: 500;
  line-height:1.125rem;
  letter-spacing: -0.1px;
  font-feature-settings: 'clig' off, 'liga' off;
}

.fs-body2 {
  font-size: 0.8125rem;
  font-style: normal;
  font-weight: 500;
  line-height:0.9375rem;
  letter-spacing: -0.1px;
  font-feature-settings: 'clig' off, 'liga' off;

}

.hide {
  display: none;
}

#__next {
  display: flex;
  min-height: 99.99vh;
  transition: background-color 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94);
}
#__next.light {
  background-color: #F8F8FB;

}
#__next.dark {
  background-color: #141625;
}

#childsvg {
  scale: 1.5;
}

#navbar.light {
  background-color: #252945;
  /* position:fixed; */
}

#navbar.dark {
background:#1E2139
}

#navbar {
  display: flex;
  flex-direction: column;
  background-color: #1E2139;
  border-radius: 0px 20px 20px 0px;
  flex-shrink: 0;
  width: 7.152vw;
  max-width: 103px;
  min-width: fit-content;
  height: 100vh;
  align-items: center;
  justify-content: space-between;
  z-index: 10000;
  position: fixed;
}

#themelogo-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  width: 100%;
}

#themelogo:hover {
  cursor: pointer;
}

#profile-pic-container {
  width: 100%;
  height: 5.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border-top: 1px solid #494E6E;
}

#profile-pic-container img{
  border-radius: 40px;
}

#body-main {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  flex-direction: column;
  padding-inline: 21vw 20vw;
  gap: 4rem;
  padding-top: 9.8vh;
}

.backLink {
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-self: flex-start;
  gap: 1.5rem;
}

.backLink.light:hover, 
.backLink.dark:hover {
  color: #888EB0;
}

.backLink svg {
 vertical-align: middle;
 position: relative;
 bottom: 2px;
}

.backLink span {
  vertical-align: middle;
}

.backLink.light {
  color:#0C0E16;
}

.backLink.dark {
  color: #FFF;
}

/* Tablet */
@media only screen and (min-width: 35.01em) and (max-width: 64em) {
  #navbar {
    width: 100vw;
    max-width: none;
    height: 80px;
    min-height: fit-content;
    border-radius: 0px 0px 0px 0px;
    flex-direction: row;
    justify-content: space-between;
  }

  #navbar .navlogo svg{
    width: 83px;
    height: 83px;
  }
  
  #themelogo-container {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    /* align-items: flex-end; */
    gap: 2rem;
    width: 18vw;
  }
  
  #body-main {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    flex-direction: column;
    padding-inline: 6.25vw;
    gap: 4rem;
    padding-top: 142px;
  }
}

/* Mobile */
@media only screen and (max-width: 35em) {
  #navbar {
    width: 100vw;
    max-width: none;
    height: 72px;
    min-height: fit-content;
    border-radius: 0px 0px 0px 0px;
    flex-direction: row;
    justify-content: space-between;
  }

  #navbar .navlogo svg{
    width: 75px;
    height: 75px;
  }
  
  #themelogo-container {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    /* align-items: flex-end; */
    gap: 2rem;
    width: 18vw;
  }
  
  #body-main {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    flex-direction: column;
    padding-inline: 1.5rem;
    gap: 4rem;
    padding-top: 142px;
  }
}



input{
  border-radius: 4px;
}

input[type="text"],
input[type="number"] {
  padding-left: 1.25rem;
  padding-top: 17px;
  padding-bottom: 14px;
  cursor: pointer;
  /* max-width: vw; */
}

input.light {
  border: 1px solid hsla(var(--clr-whitegreypurple), 0.5);
  outline: transparent;
  background-color: #FFF;
}

input.dark {
  background-color: #1E2139;
  border: 1px solid hsla(var(--clr-whitegreypurple), 0.5);
  color: #FFF
}

input {
  transition: background-color 0.4s ease-in 0.15s
}

input[type="text"]:hover,
input[type="number"]:hover
input[type="text"]:focus,
input[type="number"]:focus,
input[type="text"]:focus-visible,
input[type="number"]:focus-visible
{
  border: 1px solid hsl(var(--clr-purple-hover));
  outline-color: transparent;
  cursor: text;
}

input[type="text"]:focus-visible.dark,
input[type="number"]:focus-visible.dark {
  outline: red;
  border: 1px solid hsl(var(--clr-purple-hover));
}

label.light {
  color: hsl(var(--clr-whitegreypurple));
}

label.dark {
  color: #DFE3FA;
}

button {
  border-radius: 24px;
  padding: 18px 21px 15px 22px;
  border: none;
  font-size: 0.9375rem;
  font-style: normal;
  font-weight: 700;
  line-height:0.9375rem;
  letter-spacing: -0.25px;
}

button:hover {
  cursor: pointer;
}

.send {
  background-color: #7C5DFA;
  color: white;
}

.send:hover {
  background-color: #9277FF;
}

.draft.light {
  background-color: #373B53;
  color: #888EB0;
}

.draft:hover.light {
  background-color: #0C0E16;
}

.draft:hover {
  background-color: #1E2139;
}

.MuiCheckbox-root {
  width: 32px;
  height: 32px;
  cursor: pointer;
}

.Mui-checked {
  cursor: pointer;
}

.invoicePage {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr;
  grid-auto-rows: auto;
  row-gap: 1rem;
  max-height: 75vh;
  overflow-y: scroll;
  overflow-x:visible;

}

.invoicePage::-webkit-scrollbar-track
{
	/* -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); */
	border-radius: 10px;
	background-color: transparent
}

.invoicePage::-webkit-scrollbar
{
	width: 9px;
	background-color: transparent;
}

.invoicePage::-webkit-scrollbar-thumb
{
	border-radius: 10px;
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
	background-color: hsla(231, 20%, 61%, 0.5)
}

.invoicePage::-webkit-scrollbar-thumb:hover
{
	border-radius: 10px;
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
	background-color: #555;
  cursor:pointer;
}

.no-invoices {
  display: flex;
  flex-direction: column;
  gap: 4rem;
  justify-content: center;
  align-items: center;
  margin-top: 17.5vh;
}

.no-invoices-text-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 3.12vh;
}

.no-invoices-text-container h1 {
  font-weight: 700;
  color: #0C0E16;
}

.no-invoices-text-container p {
  font-weight: 500;
  color: #888EB0;
  max-width: 195px;
  text-align: center;
  
}

.no-invoices-text-container span {
 
  font-weight: 700;
  color: #888EB0
}

.darkenBg {
  width: 100vw;
  height: 100%;
  position: absolute;
  /* opacity: 0.4984; */
  background: rgba(0, 0, 0, 0.4984);
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

