*,
*::after,
*::before {
    box-sizing: border-box;
  
}

html {
    scroll-behavior: smooth;
}


h1,
h2,
h3,
h4,
h5,
p,
ul,
figure,
picture,
body {
    margin: 0; 
    padding: 0;
    
}

a {
    color: inherit;
    text-decoration: inherit;
}

li {
    list-style: none;
}
:root {
/* Colors */

--clr-purple-btn: 252, 94%, 67%;
--clr-purple-hover: 252, 100%, 73%;
--clr-delete-btn: 0, 80%, 63%;
--clr-delete-hover:0, 100%, 80%;

--clr-darkpurplegrey: 233, 31%, 17%;
--clr-lightpurplegray: 233, 30%, 21%;

--clr-whitepurple: 231, 73%, 93%;
--clr-whitegreypurple: 231, 20%, 61%;
--clr-lightwhitepurple: 231, 37%, 63%;
--clr-black: 228, 29%, 7%;

--clr--lightbg: 240, 27%, 98%;
--clr-darkbg: 233, 30%, 11%;

--ff-spartan: 'League Spartan', sans-serif;
}


/* Utility Classes */

.flex {
    display: flex;
}

.uppercase {
    text-transform: uppercase;
}

.ff-sanserif {
    font-family: var(--ff-spartan);
}

.fs-L {
  font-weight: 700;
  font-size: 2.25rem;
  line-height: normal;
  letter-spacing: -1.125px;
}

.fs-M {
  font-weight: 700;
  font-size: 1.5rem;
  line-height: normal;
  letter-spacing: -0.75px;
}

.fs-S {
  font-size: 0.9375rem;
  font-style: normal;
  font-weight: 700;
  line-height: 1.5rem;
  letter-spacing: -0.25px;
}
.fs-S2 {
  font-size: 0.9375rem;
  font-style: normal;
  font-weight: 700;
  line-height:0.9375rem;
  letter-spacing: -0.25px;
}

.fs-body {
  font-size: 0.8125rem;
  font-style: normal;
  font-weight: 500;
  line-height:1.125rem;
  letter-spacing: -0.1px;
  font-feature-settings: 'clig' off, 'liga' off;
}

.fs-body2 {
  font-size: 0.8125rem;
  font-style: normal;
  font-weight: 500;
  line-height:0.9375rem;
  letter-spacing: -0.1px;
  font-feature-settings: 'clig' off, 'liga' off;

}
#__next {
  display: flex;
}

#childsvg {
  scale: 1.5;
}

#navbar.light {
  background-color: #252945;
  /* position:fixed; */
}

#navbar {
  display: flex;
  flex-direction: column;
  background-color: #1E2139;
  border-radius: 0px 20px 20px 0px;
  flex-shrink: 0;
  width: 7.152vw;
  max-width: 103px;
  height: 100vh;
  align-items: center;
  justify-content: space-between;
}

#themelogo-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  width: 100%;

}

#profile-pic-container {
  width: 100%;
  height: 5.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border-top: 1px solid #494E6E;
}

#profile-pic-container img{
  border-radius: 40px;
}

#body-main {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  flex-direction: column;
  padding-inline: 17.5vw 22.57vw;
  gap: 4rem;
  
 
}

input{
  border-radius: 4px;
}

input[type="text"],
input[type="number"] {
  padding-left: 1.25rem;
  padding-top: 17px;
  padding-bottom: 14px;
  cursor: pointer;
  max-width: 35vw;
}

input.light {
  border: 1px solid hsla(var(--clr-whitegreypurple), 0.5);
  outline: transparent;
}

input[type="text"]:hover.light,
input[type="number"]:hover.light
input[type="text"]:focus,
input[type="number"]:focus
{
  border: 1px solid hsl(var(--clr-purple-hover));
  outline-color: transparent;
  cursor: text;
}

label {
  color: hsl(var(--clr-whitegreypurple));
}

button {
  border-radius: 24px;
  padding: 18px 21px 15px 22px;
  border: none;
  font-size: 0.9375rem;
  font-style: normal;
  font-weight: 700;
  line-height:0.9375rem;
  letter-spacing: -0.25px;
}

button:hover {
  cursor: pointer;
}

.send {
  background-color: #7C5DFA;
  color: white;
}

.send:hover {
  background-color: #9277FF;
}

.draft.light {
  background-color: #373B53;
  color: #888EB0;
}

.draft:hover.light {
  background-color: #0C0E16;
}

.draft:hover {
  background-color: #1E2139;
}

.MuiCheckbox-root {
  width: 32px;
  height: 32px;
  cursor: pointer;
}

.Mui-checked {
  cursor: pointer;
}







